body {
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",
		"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	text-align: center;
}
/*---------------------- header --------------------*/
.menuBar {
	font-size: 12px;
	line-height: 12px;
}
ul{
	list-style-type: none;
}
.cart {
	line-height: 40px;
}
/*---------------------- container -----------*/
.containerNav ul {
	font-size: 16px;
}